.usp-sec{
	padding-left: 30px;
	padding-right: 30px;
	margin-bottom: 45px;
}
.usp-sec-inr{
	background: #1D2B5B;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 200px;
}
.usp-grd-items{
	width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.usp-sec-inr:after{
	content: "";
    display: table;
    min-height: inherit;
    font-size: 0;
}
.usp-grd-item{
	width: 25%;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	position: relative;
}
.usp-grd-item:after{
	content: "";
	position: absolute;
	bottom: -45px;
	right: 0;
	transform: translateX(-50%);
	height: 140px;
	width: 1px;
	background: #FFFFFF;
}
.usp-grd-item:last-child:after{
	content: none;
}
.usp-grd-item:nth-child(even):after{
	top: -45px;
}
.usp-grd-item-ctlr{
	text-align: center;
}
.usp-grd-item-ctlr i{
	display: block;
	margin-bottom: 15px;
}
.usp-grd-item-title{
	display: block;
	color: #fff;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 15px;
	line-height: 1;
}


.ftr-top{
	padding-top: 100px;
	padding-bottom: 45px;
	border-bottom: 1px solid #EFEFEF;
}
.ftr-logo{
	float: left;
	width:  25.0416%;
	padding-right: 20px;
}
.ftr-partner-policy{
	float: left;
	width: 20.8333%;
}
.ftr-vat-social-media{
	float: left;
	width: 21.5277%;
}
.ftr-menu{
	float: left;
	width:  25.2222%;
}
.ftr-language{
	float: left;
	width:  5.375%;
}

.ftr-logo a{
	display: inline-block;
	vertical-align: baseline;
}


.ftr-partner,
.ftr-vat{
	padding-bottom: 40px;
}
.ftr-grd-item label{
	display: block;
	font-size: 12px;
	line-height: 14px;
	color: #9095A6;
	text-transform: uppercase;
	font-weight: 500;
	margin-bottom: 0;
}
.ftr-grd-item strong{
	font-size: 13px;
	line-height: 16px;
	color: #1D2B5B;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-weight: 500;
}
.ftr-grd-item .ftr-vat strong{
	font-size: 15px;
}

.ftr-socilas-media ul li{
	display: inline-block;
	vertical-align: baseline;
	padding-left: 20px;
	padding-right: 20px;
	position: relative;
}
.ftr-socilas-media ul li:after{
	content: "";
	position: absolute;
	top: 35%;
	right: 0;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	height: 12px;
	width: 2px;
	background: #E1E1E1;
	transform: rotate(30deg);
}
.ftr-socilas-media ul li:last-child:after{
	content: none;
}
.ftr-socilas-media ul li:first-child{
	padding-left: 0;
}
.ftr-socilas-media ul li:last-child{
	padding-right: 0;
}
.ftr-socilas-media ul li a{
	font-size: 13px;
	line-height: 16px;
	color: #1D2B5B;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-weight: 500;
}

.ftr-menu ul{
	float: left;
	width: 50%;
}
.ftr-menu ul li{
	padding-bottom: 22px;
}
.ftr-menu ul li a{
	display: inline-block;
	vertical-align: baseline;
	font-size: 13px;
	line-height: 16px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #1D2B5B;
	font-weight: 500;
}
.ftr-menu ul li a:hover,
.ftr-socilas-media ul li a:hover{
	color: #9095A6;
}
.ftr-language{
	text-align: right;
	position: relative;
	min-height: 24px;
	padding-left: 5px;
	min-width: 80px;
}
.ftr-language ul li.lang-active{
	position: relative;
	opacity: 1;
	padding-top: 0;
}
.ftr-language ul li.lang-active a{
	font-size: 12px;
}
.ftr-language ul li{
	position: absolute;
	text-align: right;
	left: 0;
	right: 0;
	padding-right: 15px;
	opacity: 0;
	z-index: 22;
	padding-bottom: 5px;
	padding-left: 10px;
}
.ftr-language ul li a{
	color: #9095A6;
	font-size: 12px;
	line-height: 1;
	font-weight: 500;
	text-transform: uppercase;
}
.ftr-language ul li a:hover{
	color: #1D2B5B;
}
.ftr-language:after{
	content: "\f107"!important;
    font-family: 'Font Awesome 5 Free';
    font-weight: 600;
    text-decoration: inherit;
    color: #9095A6!important;
    font-size: 12px;
    padding-right: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    right: 10px;
    line-height: 15px;
    z-index: 100;
}
.ftr-language ul{
	position: absolute;
	left: 0;
	right: 0;
	top: -10px;
	z-index: 20;
	padding: 10px 10px 5px 5px;
}
.ftr-language:hover ul{
	background-color: rgb(255,255,255);
	text-align: right;
}
.ftr-language:hover:after{
	content: "\f106"!important;
}
.ftr-language:hover{
	overflow: initial!important;
}
.ftr-language:hover li.lang-active,
.ftr-language:hover li{
	position: relative;
	opacity: 1!important;
	padding-top: 0;
	padding-right: 15px;
}


.ftr-contact{
	padding-top: 80px;
	padding-bottom: 80px;
}
.ftr-contact ul li{
	float: left;
	width: 33.3333%;
}
.ftr-contact-grd-item{
	text-align: center;
}

.ftr-contact-location,
.ftr-contact-tel{
	padding-bottom: 30px;
}
.ftr-contact-grd-item.ftr-grd-item strong{
	font-size: 15px;
}
.ftr-contact-grd-item.ftr-grd-item strong a{
	color: #1D2B5B;
}

.ftr-contact-tel strong a:hover,
.ftr-contact-mail strong a:hover{
	color: #9095A6;
}

.ftr-content{
	padding-top: 30px;
	padding-bottom: 22px;
	background: #1D2B5B;
}

.ftr-content-inr ul{
	display: flex;
	align-items: center;
}
.ftr-content-inr ul li{
	float: left;
	width: 33.3333%;
}
.ftr-content-inr ul li:first-child{
	padding-left: 30px;
}
.ftr-content-inr ul li:first-child .ftr-content-img img{
	max-width: 80px;
}
.ftr-content-inr ul li:nth-child(2){
	padding-left: 50px;
}


.ftr-btm-cont-img{
	display: flex;
	align-items: center;
}
.ftr-btm-grd-col-2{
	display: flex;
	align-items: center;
}
.ftr-btm-grd-col-3 .ftr-btm-cont-img{
	display: block;
}
.ftr-content-img{
	display: inline-block;
	vertical-align: baseline;
	margin-right: 20px;
}
.ftr-des{
	display: inline-block;
	vertical-align: baseline;
}

.ftr-des p{
	color: #8489A8;
	letter-spacing: 0.02em;
	margin-bottom: 0;
	font-size: 12px;
}
.ftr-des strong{
	font-size: 12px;
	line-height: 14px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 500;
	margin-bottom: 5px;
	display: block;
}


.ftr-bottom{
	padding-top: 40px;
	padding-bottom: 40px;
}
.ftr-btm-inr{
	display: flex;
	align-items: center;
}

.ftr-btm-menu{
	margin-left: auto;
	margin-right: auto;
}
.ftr-btm-designby{
	text-align: right;
}

.ftr-copywrite p{
	color: #8489A8;
	letter-spacing: 0.02em;
	margin-bottom: 0;
}

.ftr-btm-menu ul li{
	display: inline-block;
	vertical-align: baseline;
	padding-left: 16px;
	padding-right: 16px;
	position: relative;
}
.ftr-btm-menu ul li:first-child{
	padding-left: 0;
}
.ftr-btm-menu ul li:last-child{
	padding-right: 0;
}
.ftr-btm-menu ul li:after{
	content: "";
	position: absolute;
	top: 35%;
	right: 0;
	transform: translate(-50%,-50%);
	height: 12px;
	width: 2px;
	background: #E1E1E1;
    transform: rotate(30deg);
}
.ftr-btm-menu ul li:last-child:after{
	content: none;
}
.ftr-btm-menu ul li a{
	font-size: 14px;
	color: #8489A8;
	letter-spacing: 0.02em;
}

.ftr-btm-designby a{
	font-size: 14px;
	color: #8489A8;
	letter-spacing: 0.02em;
}
.ftr-btm-menu ul li a:hover,
.ftr-btm-designby a:hover{
	color: #1D2B5B;
}

.ftr-menu .ftr-menu-title{
	display: none;
}
.ftr-menu-title{
	display: block;
	font-size: 14px;
	line-height: 1;
	margin-bottom: 40px;
	font-weight: 500;
	text-transform: uppercase;
	color: #1D2B5B;
	letter-spacing: 0.1em;
	padding-right: 18px;
}


@media(max-width: 1499px){

}

@media(max-width: 1399px){

}

@media(max-width: 1299px){

}

@media(max-width: 1199px){
	.usp-sec-inr{
		display: inherit;
		min-height: initial;
	}
	.usp-grd-items{
		display: inherit;
	}
	.usp-grd-item{
		float: left;
		width: 50%;
		height: 200px;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	}
	.usp-grd-item:last-child:after,
	.usp-grd-item:nth-child(2):after{
		content: none;
	}
	.usp-grd-item:nth-child(3):after{
		content: "";
		bottom: 0;
	}
	.usp-grd-item:first-child:after{
		top: 0;
	}
	.ftr-logo {
	    width: 22.0416%;
	    padding-right: 20px;
	}
	.ftr-partner-policy {
	    width: 18.8333%;
	}
	.ftr-vat-social-media {
	    width: 20.5277%;
	}
	.ftr-menu {
	    width: 25.2222%;
	}
	.ftr-socilas-media ul li a{
		font-size: 12px;
	}
	.ftr-socilas-media ul li{
		padding-left: 15px;
		padding-right: 15px;
	}
	.ftr-menu ul li a{
		font-size: 12px;
	}
	.ftr-menu ul li {
	    padding-bottom: 17px;
	}
	.ftr-contact-grd-item.ftr-grd-item strong {
	    font-size: 13px;
	}
	.ftr-content-inr ul li:first-child {
	    padding-left: 20px;
	}
	.ftr-content-inr ul li:nth-child(2) {
	    padding-left: 30px;
	}
	.ftr-content-img {
	    margin-right: 10px;
	}
	.ftr-top {
	    padding-top: 75px;
	}
	.usp-sec{
		padding-left: 40px;
		padding-right: 40px;
	}

}

@media(max-width: 991px){
	.hide-md{
		display: none!important;
	}
	.show-md{
		display: block!important;
	}
	.ftr-logo {
	    width: 100%;
	    padding-right: 0;
	    text-align: center;
	    padding-bottom: 20px;
	}
	.ftr-partner-policy {
	    width: 25%;
	}
	.ftr-vat-social-media {
	    width: 28%;
	}
	.ftr-menu {
	    width: 35%;
	}
	.ftr-language {
	    width: 10%;
	}
	.ftr-top{
		padding-top: 50px;
	}
	.ftr-contact {
	    padding-top: 65px;
	    padding-bottom: 30px;
	}
	.ftr-contact ul li {
	    width: 100%;
	    padding-bottom: 80px;
	}
	.ftr-content-inr ul{
		display: inherit;
	}
	.ftr-content-inr ul li:first-child {
	    padding-left: 0;
	}
	.ftr-content-inr ul li:nth-child(2) {
	    margin-top: 0;
	    margin-bottom: 0;
	    padding-left: 0;
	}
	.ftr-content-inr ul li:last-child {
	    margin-top: 0;
	}
	.ftr-content-inr ul li{
		width: 100%;
		padding-bottom: 30px;
	}
	.ftr-content {
	    padding-top: 20px;
	    padding-bottom: 10px;
	}
	.ftr-content-ctlr {
	    max-width: 300px;
	    width: 100%;
	    margin: 0 auto;
	    text-align: center;
	    padding-left: 20px;
	    padding-right: 20px;
	}
	.ftr-btm-cont-img,
	.ftr-btm-grd-col-2{
		display: inherit;
	}
	.ftr-des{
		display: initial;
		vertical-align: inherit;
	}
	.ftr-content-img {
	    margin-right: 0;
	    margin-bottom: 20px;
	}
	.ftr-btm-inr{
		display: inherit;
	}
	.ftr-btm-designby {
	    text-align: center;
	}
	.ftr-btm-menu{
		text-align: center;
		padding-bottom: 20px;
	}
	.ftr-copywrite{
		text-align: center;
		padding-bottom: 20px;
	}
	
	.usp-sec{
		padding-left: 20px;
		padding-right: 20px;
	}
	
}

@media(max-width: 767px){
	.hide-sm{
		display: none!important;
	}
	.show-sm{
		display: block!important;
	}
	
	.ftr-logo{
		padding-bottom: 40px;
	}
	.ftr-menu {
	    width: 100%;
	    text-align: center;
	}
	.ftr-menu ul{
		display: none;
	}
	.ftr-menu ul {
	    width: 100%;
	    padding-bottom: 20px;
	}
	.ftr-menu ul li {
	    padding-bottom: 10px;
	}
	.xs-contact ul li{
		padding-bottom: 80px;
	}
	.ftr-menu .ftr-menu-title{
		display: block;
	}
	.ftr-menu-title{
		display: inline-block!important;
		position: relative;
	}
	.ftr-menu h6.ftr-menu-title:after{
		content: "\f107"!important;
	    font-family: 'Font Awesome 5 Free';
	    font-weight: 600;
	    text-decoration: inherit;
	    color: #9095A6;
	    font-size: 12px;
	    padding-right: 0;
	    position: absolute;
	    top: 50%;
	    transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	    -webkit-transform: translateY(-50%);
	    right: 0;
	    line-height: 15px;
	}
	.ftr-menu h6.active.ftr-menu-title:after{
		content: "\f106"!important;
	}
	.ftr-pvpsm{
		text-align: center;
		padding-top: 50px;
		padding-bottom: 40px;
	}
	.ftr-partner, 
	.ftr-vat,
	.ftr-policy {
	    padding-bottom: 30px;
	}
	.ftr-contact-location, 
	.ftr-contact-tel {
	    padding-bottom: 15px;
	}
	.ftr-top{
		padding-bottom: 0;
	}
	.usp-grd-item{
		padding-top: 40px;
		padding-bottom: 30px;
	}
	
	.ftr-top {
	    padding-top: 25px;
	}
	.usp-sec{
		padding-left: 0;
		padding-right: 0;
	}
}
@media(max-width: 639px){
	.usp-sec .slick-dotted.slick-slider {
	    margin-bottom: 40px;
	}
	.usp-sec .slick-slider .slick-dots li{
		width: 12px!important;
    	height: 12px!important;
    	background: rgba(255, 255, 255, 0.1)!important;
    	margin: 0 5px!important;
	}
	.usp-sec .slick-slider .slick-dots li.slick-active {
	    background: rgba(255, 255, 255, 0.84)!important;
	}
	.usp-grd-item{
		height: initial;
	}
	.usp-grd-item:after{
		content: none;
	}
	.usp-grd-item{
		padding-bottom: 10px;
	}
}

@media(max-width: 575px){
	.hide-xs{
		display: none!important;
	}
	.show-xs{
		display: block!important;
	}
	

}

@media(max-width: 479px){


}

@media(max-width: 359px){

}