.header{
	padding-right: 80px;
}
.header-inr{
	display: flex;
}
.hdr-lft{
	position: relative;
	margin-right: auto;
	display: flex;
}
.logo{
	width: 354px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 22px 0;
	background: #fff;
	z-index: 1;
	position: relative;
}
.logo:after{
	content: "";
	position: absolute;
	height: 8px;
	width: 260px;
	background: #1d2b5a;
	bottom: -8px;
	left: 0;
}
.logo a{
	display: inline-block;
}
.hdr-lft-btn{
	z-index: 2;
	display: flex;
	padding-top: 100px;
	margin-left: -12px;
}
.hdr-lft-btn-col{
}
.hdr-lft-btn-col a{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 20px;
	width: 245px;
	height: 57px;
	background: #F9F9F9;
	color: #1D2B5B;
	line-height: 1;
	padding-top: 3px;

}
.hdr-lft-tell a{
	color: #fff;
	background: #1D2B5B;
}
.hdr-lft-tell a:hover{
	background: #0f193c;
}
.hdr-lft-mail a:hover{
	color: #0f193c;
	background: #e2dfdf;
}


.hdr-rgt{
	margin-left: auto;
	padding-top: 31px;
}
.show-hide{
	display: none;
}
.hdr-humberger{
	
}
.line-icon{
	width: 25px;
	height: 27px;
	margin: 0;
	cursor: pointer;
	position: relative;
}
.line-icon span{
	width: 100%;
	background: #1D2B5B;
	height: 3px;
	top: 0;
	left: 0;
	right: 0;
	border-radius: 5px;
    display: block;
    position: absolute;
    transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s
}
.line-icon span:nth-child(2){
	top: 12px;
}
.line-icon span:nth-child(3){
	top: 24px;
}
.hdr-rgt-top{
	display: flex;
	margin-bottom: 17px;
	justify-content: flex-end;
}
.hdr-rgt-top-menu{
	padding-right: 13px;
}
.hdr-rgt-top-menu > ul{
	display: flex;
	align-items: center;
}
.hdr-rgt-top-menu > ul > li > a{
	display: inline-block;
	padding: 0 15px;
	color: #9095A6;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 500;
	position: relative;
}
.hdr-rgt-top-menu > ul > li > a:hover{
	color: #474b58;
}
.hdr-rgt-top-menu > ul > li.menu-item-has-children{
	padding-right: 5px;
	position: relative;
}
.hdr-rgt-top-menu > ul > li.menu-item-has-children a{
	padding-right: 13px;
}
.hdr-rgt-top-menu > ul > li.menu-item-has-children > a:after{
    content: "";
    background: url(../images/down-arrow-menu-gray.svg);
    width: 6px;
    height: 4px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    right: 0;
}
.hdr-rgt-top-menu > ul > li.menu-item-has-children:hover > a:after{
	transform: rotate(180deg);
	background-position: center top;
	margin-top: -2px;
}
.hdr-rgt-top-menu > ul > li.menu-item-has-children:hover:after{
	opacity: 1;
}
.hdr-rgt-top-menu > ul > li.menu-item-has-children > ul.sub-menu{
	position: absolute;
	top: 100%;
	right: 0;
	min-width: 120px;
	padding: 5px 12px;
	background: #fff;
	z-index: 30;
    transform: scale3d(1,0,1);
    -ms-transform: scale3d(1,0,1);
    -webkit-transform: scale3d(1,0,1);
    transition: all .5s;
    -ms-transition: all .5s;
    -webkit-transition: all .5s;
    transform-origin: top;
    -ms-transform-origin: top;
    -webkit-transform-origin: top;
    opacity: 0;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
}
.hdr-rgt-top-menu > ul > li.menu-item-has-children:hover ul.sub-menu{
	opacity: 1;
	transform: scale3d(1,1,1);
    -ms-transform: scale3d(1,1,1);
    -webkit-transform: scale3d(1,1,1);
}
.hdr-rgt-top-menu > ul > li.menu-item-has-children > ul.sub-menu > li{
	padding-top: 8px;
}
.hdr-rgt-top-menu > ul > li.menu-item-has-children > ul.sub-menu > li:last-child{
	padding-bottom: 10px;
}
.hdr-rgt-top-menu > ul > li.menu-item-has-children > ul.sub-menu > li > a{
	display: inline-block;
	color: #9095A6;
	font-size: 12px;
	font-weight: 500;
	padding-left: 22px;
	position: relative;
	text-transform: uppercase;
	line-height: 1.2;
}
.hdr-rgt-top-menu > ul > li.menu-item-has-children > ul.sub-menu > li > a:hover{
	color: #61687d;
}

.hdr-rgt-top-menu > ul > li.menu-item-has-children > ul.sub-menu > li > a:after{
	content: "";
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	height: 1px;
	width: 12px;
	background: #1D2B5B;
}
.hdr-rgt-top-social{
	position: relative;
	padding: 0 52px;
}
.hdr-rgt-top-social:before{
	content: "";
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	background: #E3E3E3;
	width: 25px;
	height: 1px;
}
.hdr-rgt-top-social:after{
	content: "";
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	background: #E3E3E3;
	width: 25px;
	height: 1px;
}
.hdr-rgt-top-social > ul > li{
	padding: 0 4px;
}
.hdr-rgt-top-social > ul > li > a{
	display: inline-block;
	line-height: 1;
	color: #9095A6;
	font-size: 12px;
}
.hdr-rgt-top-social > ul > li > a:hover{
	color: #474b58;
}
.fl-lang{
	padding: 0 0 0 8px;
	display: flex;
	align-items: center;
}
.fl-lang-cntlr{
	position: relative;
	padding-top: 29px;
	margin-right: -5px;
	padding-left: 5px;
	width: 60px;
	margin-left: 8px;
}

.fl-lang-cntlr ul{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	z-index: -1;
	padding: 29px 0 0 0;	
}

.fl-lang-cntlr:hover ul{
	text-align: center;
	z-index: 20;
}
.fl-lang-cntlr:hover{
	overflow: initial;
}
.fl-lang-cntlr li{
	position: relative;
}
.fl-lang-cntlr:hover li.lang-active{
	padding-top: 0;
}
.fl-lang-cntlr:hover li.lang-active,
.fl-lang-cntlr:hover li{
	opacity: 1!important;
	text-align: center;
}

.fl-lang ul li.lang-active{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	opacity: 1;
	background: #fff;
	padding-top: 0;
	text-align: center;
}
.fl-lang ul li.lang-active a{
    color: #9095A6;
    padding-right: 3px;
    padding-top: 9px;
    padding-bottom: 6px;
}
.fl-lang ul li.lang-active a:hover{
	color: #474b58;
}
.fl-lang ul li{
	opacity: 0;
	z-index: 22;
	padding: 0 14px 0;
	background: #1d2b5a;
	font-size: 12px;
	font-weight: 500;
	line-height: 1;
	position: relative;
	height: 29px;
}
.fl-lang ul li a{
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	position: relative;
	padding: 8px 0 9px;
	display: block;
}
.fl-lang ul li a:after{
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	background: #475379;
	height: 1px;
}

.fl-lang ul li.lang-active a:after,
.fl-lang ul li:last-child a:after{
	content: none;
}
.fl-lang-cntlr:after{
	content: "";
    background: url(../images/down-arrow-menu-gray.svg);
    width: 8px;
    height: 5px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    padding-right: 0;
    position: absolute;
    top: 12px;
    right: 5px;
    line-height: 15px;
    z-index: 21;
}
.fl-lang ul li a:hover{
	color: #9095A6;
}

nav.main-nav > ul{
	display: flex;
	align-items: center;
}
nav.main-nav > ul > li{
	display: inline-block;
	vertical-align: baseline;
	margin: 0 28px;
	padding-bottom: 30px;
	position: relative;
}
nav.main-nav > ul > li > a{
	text-transform: uppercase;
	padding-bottom: 30px;
	color: #1D2B5B;
	font-size: 16px;
	font-weight: 500;
	text-transform: uppercase;
	position: relative;
}
nav.main-nav > ul > li > a:before{
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: -4px;
	height: 2px;
	width: 100%;
	background: #1D2B5B;
	-webkit-transform: scale(0,1);
	-ms-transform: scale(0,1);
	transform: scale(0,1);
	opacity: 0;
	transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
nav.main-nav > ul > li > a:hover:before{
	-webkit-transform: scale(1,1);
	-ms-transform: scale(1,1);
	transform: scale(1,1);
	opacity: 1;
}
nav.main-nav > ul > li.menu-item-has-children > a:before{
	content: none!important;
	display: none!important;
}
nav.main-nav > ul > li > a:hover{
	color: #090e21;
}
nav.main-nav > ul > li:last-child{
	margin-right: 0;
}
nav.main-nav > ul > li:first-child{
	margin-left: 0;
}
nav.main-nav > ul > li.menu-item-has-children > a{
	position: relative;
	padding-right: 10px;
}
nav.main-nav > ul > li.menu-item-has-children:hover a:after{
}
nav.main-nav > ul > li.menu-item-has-children{
	padding-right: 10px;
	position: relative;
}

nav.main-nav > ul > li.menu-item-has-children > a:after{
    content: "";
    background: url(../images/down-arrow-menu.svg);
    width: 11px;
    height: 8px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    position: absolute;
    top: 5px;
    right: -10px;
}
nav.main-nav > ul > li.menu-item-has-children:hover > a:after{
	transform: rotate(180deg);
	background-position: center top;
}
nav.main-nav > ul > li.menu-item-has-children:hover:after{
	opacity: 1;
}
nav.main-nav > ul > li.menu-item-has-children > ul.sub-menu{
	position: absolute;
	top: 100%;
	right: -15px;
	min-width: 260px;
	padding: 5px 12px;
	background: #fff;
	z-index: 30;
    transform: scale3d(1,0,1);
    -ms-transform: scale3d(1,0,1);
    -webkit-transform: scale3d(1,0,1);
    transition: all .5s;
    -ms-transition: all .5s;
    -webkit-transition: all .5s;
    transform-origin: top;
    -ms-transform-origin: top;
    -webkit-transform-origin: top;
    opacity: 0;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
}
nav.main-nav > ul > li.menu-item-has-children:hover ul.sub-menu{
	opacity: 1;
	transform: scale3d(1,1,1);
    -ms-transform: scale3d(1,1,1);
    -webkit-transform: scale3d(1,1,1);
}
nav.main-nav > ul > li.menu-item-has-children:hover ul.sub-menu:before{
	content: "";
	position: absolute;
	background-size: 100% auto;
	width: 9px;
	height: 9px;
	right: 20px;
	bottom: 100%;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 9px solid #1D2B5B;
	
}
nav.main-nav > ul > li.menu-item-has-children > ul.sub-menu > li{
	padding-top: 26px;
}
nav.main-nav > ul > li.menu-item-has-children > ul.sub-menu > li:last-child{
	padding-bottom: 23px;
}
nav.main-nav > ul > li.menu-item-has-children > ul.sub-menu > li > a{
	display: inline-block;
	color: #9095A6;
	font-size: 13px;
	font-weight: 500;
	padding-left: 42px;
	position: relative;
	text-transform: uppercase;
	line-height: 1.2;
}
nav.main-nav > ul > li.menu-item-has-children > ul.sub-menu > li > a:hover{
	color: #61687d;
}

nav.main-nav > ul > li.menu-item-has-children > ul.sub-menu > li > a:after{
	content: "";
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	height: 1px;
	width: 22px;
	background: #1D2B5B;
}
.mobile-hdr{
	display: none;
}
/*responsive*/
@media(max-width: 1699px){
	.logo{
		width: 300px;
	}
	.logo:after{
		width: 200px;
	}
	.hdr-lft-btn-col a{
		width: 200px;
	}
	nav.main-nav > ul > li{
		margin: 0 25px;
	}
}
@media(max-width: 1499px){
	.header {
		padding-right: 60px;
	}
	.logo{
		width: 250px;
		padding-left: 10px;
		padding-right: 10px
	}
	.logo:after{
		width: 160px;
	}
	.hdr-lft-btn{
		margin-left: -5px;
	}
	.hdr-lft-btn-col a{
		width: 188px;
	}
	.hdr-lft-tell a{
		width: 150px!important;
	}
	.hdr-rgt-top{
		justify-content: flex-end;
	}
	.hdr-rgt-top-menu{
		padding-right: 0;
	}
	.hdr-rgt-top-social{
		padding: 0 30px;
	}
	.fl-lang-cntlr{
		padding-left: 0;
	}
	.fl-lang{
		padding: 0;
	}

	.hdr-rgt-top-menu > ul > li > a{
		padding: 0 10px;
	}
	nav.main-nav > ul > li{
		margin: 0 20px;
		padding-bottom: 30px;
	}
	nav.main-nav > ul > li > a{
		
	}
	.h-slider-banner{
		margin-top: -61px!important;
	}
}

@media(max-width: 1399px){
	.header {
		padding-right: 40px;
	}
	nav.main-nav > ul > li{
		margin: 0 15px;
		padding-bottom: 30px;
	}
	nav.main-nav > ul > li > a{
		
		font-size: 15px;
	}
	.main-nav{
		display: flex;
		justify-content: flex-end;
	}
	.hdr-rgt-top-menu > ul > li > a{
		font-size: 13px;
		padding: 0 8px;
	}
	.hdr-rgt-top-menu{
		padding-right: 10px;
	}
	nav.main-nav > ul > li.menu-item-has-children > a:after{
		right: -10px;
		width: 10px;
		height: 7px;
	}
}

@media(max-width: 1299px){
	.header {
		padding-right: 20px;
	}
	.logo{
		width: 200px;
	}
	.logo:after{
		width: 130px;
	}
	.hdr-lft-btn{
		padding-top: 72px;
	}
	.hdr-rgt{
		padding-top: 20px;
	}
	.hdr-rgt-top{
		margin-bottom: 15px;
	}
	nav.main-nav > ul > li{
		padding-bottom: 14px;
	}
	.hdr-rgt-top-menu > ul > li > a {
		font-size: 12px;
		padding: 0 6px;
	}
	.h-slider-banner {
	    margin-top: -58px!important;
	}
	nav.main-nav > ul > li > a{
		padding-bottom: 11px;
		display: block;
	}
	nav.main-nav > ul > li {
	    padding-bottom: 0;
	}
	nav.main-nav > ul > li.menu-item-has-children:hover ul.sub-menu:before {
	    border-left: 5px solid transparent;
	    border-right: 5px solid transparent;
	    border-bottom: 7px solid #1D2B5B;
	}
	nav.main-nav > ul > li.menu-item-has-children > a:after{
		top: 8px;
	}
}

@media(max-width: 1199px){
	body.active-scroll-off{
		overflow: hidden;
	}
	.header {
		padding-right: 0;
	}
	.bdoverlay.active {
		z-index: 9999;
		opacity: 1;
	}
	.bdoverlay {
		background: rgba(0, 0, 0, 0.8);
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		opacity: 0;
		-ms-transition: all 0.3s;
		-webkit-transition: all 0.3s;
		transition: all 0.3s;
		z-index: -1;
	}

	.header{
		padding-right: 0;
	}
	.show-hide{
		display: block;
	}
	.hdr-rgt-top,
	.main-nav{
		display: none;
	}
	.hdr-rgt{
		padding-top: 0;
	}
	.header-inr{
		display: block;
		height: 210px;
		margin-right: initial;
		padding: 0 27px 0 55px;
		padding-top: 20px;
		position: relative;

	}
	.hdr-lft{
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: initial;
	}
	.logo{
		width: initial;
		padding: 0;
	}
	.logo a{
		max-width: 200px;
		width: 100%;
	}
	.hdr-lft-btn-col a{
		width: 245px!important;
	}
	.hdr-lft-btn{
		padding-top: 0;
		position: absolute;
		bottom: -27px;
		left: 0;
	}
	.hdr-lft-mail{
		display: none;
	}
	.mobile-hdr{
		display: block;
		max-width: 320px;
		padding: 0 0 0 0;
		position: fixed;
		top: 0;
		bottom: 0;
		right: -320px;
		width: 0;
		opacity: 0;
		-ms-transition: all 0.5s ease-out;
		-webkit-transition: all 0.5s ease-out;
		transition: all 0.5s ease-out;
		background: #fff;
	}
	.mobile-hdr.opacity-1 {
		opacity: 1;
		z-index: 9999999;
		text-indent: initial;
		width: 100%;
		right: 0;
		-ms-transition: all 0.5s ease-out;
		-webkit-transition: all 0.5s ease-out;
		transition: all 0.5s ease-out;
	}
	.mobile-hdr-inr{
		position: relative;
		padding: 130px 0 0 0;
		height: 100%;
		width: 100%;
	}
	.mbl-menu{
		overflow-y: scroll;
		height: 100%;
		width: 100%;
		padding-bottom: 45px;
	}
	.mbl-hdr-top{
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
	}
	.mbl-hdr-lft .logo{
		width: initial;
		display: block;
	}
	.mbl-hdr-lft .logo a{
		display: inline-block;
		max-width: 132px;
		width: 100%;
	}
	.logo:after{
		content: none;
	}
	.mbl-hdr-top{
		height: 132px;
		padding-top: 18px;
		padding-left: 80px;
		padding-right: 20px;
	}
	.mbl-hdr-lft{
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.close-btn{
		width: 32px;
		height: 20px;
		position: relative;
		cursor: pointer;
	}
	.close-btn span{
		width: 100%;
		background: #1D2B5B;
		height: 3px;
		top: 11px;
		left: 0;
		right: 0;
		transform: rotate(45deg);

		border-radius: 5px;
		display: block;
		position: absolute;
		transition: all 0.5s;
		-ms-transition: all 0.5s;
		-webkit-transition: all 0.5s
	}
	.close-btn span:nth-child(2){
		width: 100%;
		background: #1D2B5B;
		height: 3px;
		top: 11px;
		left: 0;
		right: 0;
		transform: rotate(-45deg);
		border-radius: 5px;
		display: block;
		position: absolute;
		transition: all 0.5s;
		-ms-transition: all 0.5s;
		-webkit-transition: all 0.5s
	}
	
	.mbl-menu-cntlr .hdr-lft-btn-col{
		margin-bottom: 30px;
	}
	.mbl-top-menu{
		display: block;
	}
	.mbl-top-menu > ul{
		display: initial!important;
	}
	.mbl-top-menu > ul > li{
		padding: 16px 0!important;
		text-align: center!important;
		display: block!important;
	}
	.mbl-top-menu > ul > li > a{
		padding: 0 15px!important;
    	font-size: 16px!important;
    	position: relative;
	}
	.mbl-top-menu > ul > li > a:after{
		transform: rotate(-90deg)!important;
		top: 7px!important;
		right: 0!important;
		width: 11px!important;
		height: 7px!important;
	}
	.mbl-btm-menu{

	}
	.mbl-btm-menu .hdr-rgt-top-menu{
		margin-bottom: 25px;
	}
	.mbl-btm-menu .hdr-rgt-top-menu > ul{
		display: initial!important;
	}
	.mbl-btm-menu .hdr-rgt-top-menu > ul > li{
		padding: 10px 0!important;
		text-align: center!important;
	}
	.mbl-btm-menu .hdr-rgt-top-menu > ul > li > a{
		font-size: 13px!important;
		padding: 0 15px!important;
	}
    
	.hdr-rgt-top-social{
		padding: 0 53px;
		width: 120px;
		margin: auto;
		margin-bottom: 35px;
	}
	.hdr-mbl-lan{

	}
	.hdr-mbl-lan > ul{
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.hdr-mbl-lan > ul > li{
		padding: 0 20px;
	}
	.hdr-mbl-lan > ul > li > a{
		text-transform: uppercase;
		color: #9095A6;
		font-size: 12px;
		font-weight: 500;
	}
	.hdr-mbl-lan > ul > li > a:hover{
		color: #474b58;
	}
	nav.main-nav > ul > li.menu-item-has-children,
	.hdr-rgt-top-menu > ul > li.menu-item-has-children{
		position: initial;
	}
	nav.main-nav > ul > li.menu-item-has-children > ul.sub-menu,
	.hdr-rgt-top-menu > ul > li.menu-item-has-children > ul.sub-menu{
		position: static;
		min-width: 100%;
		width: 100%;
		opacity: 1;
		transform: initial;
		margin-top: 10px;
		display: none;
		box-shadow: none;
		transition: initial;
	}
	nav.main-nav > ul > li.menu-item-has-children:hover ul.sub-menu:before{
		content: none;
	}
	nav.main-nav > ul > li.menu-item-has-children a.sub-menu-active,
	.hdr-rgt-top-menu > ul > li.menu-item-has-children a.sub-menu-active{
		color: rgba(33,38,93,0.98);
	}
	.hdr-rgt-top-menu > ul > li.menu-item-has-children > a:after{
		transform: rotate(-90deg);
		top: 10px;
	}
	nav.main-nav > ul > li.menu-item-has-children a.sub-menu-active:after,
	.hdr-rgt-top-menu > ul > li.menu-item-has-children a.sub-menu-active:after{
	   transform: rotate(0deg)!important;
	}
	nav.main-nav > ul > li.menu-item-has-children > ul.sub-menu > li,
	.hdr-rgt-top-menu > ul > li.menu-item-has-children > ul.sub-menu > li{
		padding-top: 6px;
		padding-bottom: 0;
	}
	nav.main-nav > ul > li.menu-item-has-children > ul.sub-menu > li:last-child,
	.hdr-rgt-top-menu > ul > li.menu-item-has-children > ul.sub-menu > li:last-child{
		padding-bottom: 0;
	}
	nav.main-nav > ul > li.menu-item-has-children > ul.sub-menu > li > a,
	.hdr-rgt-top-menu > ul > li.menu-item-has-children > ul.sub-menu > li > a{
		padding: 0;
		color: #1D2B5B;
	}
	nav.main-nav > ul > li.menu-item-has-children > ul.sub-menu > li > a:after,
	.hdr-rgt-top-menu > ul > li.menu-item-has-children > ul.sub-menu > li > a:after{
		content: none;
	}
	nav.main-nav > ul > li > a{
		display: inline-block;
	}
}
@media(max-width: 991px){
	.header-inr{
		padding-left: 65px;
	}
	.logo a{
		max-width: 170px;
	}
	.hdr-lft-btn{
		bottom: -27px;
	}
}
@media(max-width: 767px){
	.header-inr{
		height: 188px;
	}
	.header-inr{
		padding-left: 75px;
	}
	.logo a{
		max-width: 150px;
	}
}
@media(max-width: 575px){
	.header-inr{
		padding-left: 85px;
	}
}