.h-banner{
	min-height: 820px;
	margin-top: -74px;
}

.page-bnr-cntlr{
	position: relative;
	padding: 0 80px;
	margin-top: -74px;
}
.page-bnr-cntlr:after{
	content: "";
	position: absolute;
	right: 1px;
	top: 63px;
	background: #1d2b5a;
	height: 163px;
	width: 80px;
}
.page-bnr-cntlr-inr{
	position: relative;
	overflow: hidden;
}
.page-bnr-cntlr-inr:after{
	content: "";
	position: absolute;
	left: 159px;
	bottom: 0;
	background: #8c8e8d;
	height: 107px;
	width: 2px;
}
.page-banner{
	height: 250px;
}
.page-banner-bg {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.page-banner-title-cntlr{
	position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    padding: 50px 0;
}
.banner-title{
	letter-spacing: 0.1em;
	text-transform: uppercase;
	font-size: 64px;
	line-height: 1;
	color: #fff;
	margin-bottom: 0;
	text-align: center;
}
.bnr-breadcum{
	max-width: 660px;
	width: 100%;
	margin: auto;
	background: rgba(255, 255, 255, 0.25);
	padding: 18px 0;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	z-index: 3;
}
.bnr-breadcum > ul{
	display: flex;
	align-items: center;
	justify-content: center;
}
.bnr-breadcum > ul > li{
	padding: 0 26px;
	position: relative;
}
.bnr-breadcum > ul > li:after{
	position: absolute;
	content: "";
	background: #c2c1bf;
	width: 22px;
	height: 2px;
	right: -10px;
	top: 50%;
	transform: translateY(-50%);
}
.bnr-breadcum > ul > li:last-child:after{
	content: none;
}
.bnr-breadcum > ul > li > a{
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #fff;
}
.bnr-breadcum > ul > li > a:hover{
	color: #1D2B5B;
}




















/**/
.psearch-form-modiule{
	padding-top: 500px;
}
.psearch-form-fields .pfm-item{
	max-width: 21%;
	width: 100%;
	float: left;
}
.psearch-form-fields .pfm-item .bootstrap-select .dropdown-toggle .filter-option{
	background: #fff;
}

.psearch-form-fields .pfm-item .bootstrap-select .dropdown-toggle .filter-option-inner{
	padding-top: 9px;
}
.psearch-form-fields .pfm-item .bootstrap-select .dropdown-toggle .filter-option-inner-inner{
	font-weight: 500;
	color: #9095A6;
	text-transform: uppercase;
}
.psearch-form-fields .pfm-item .bootstrap-select .dropdown-toggle{
	min-height: 57px;
    border-radius: initial;
}
.psearch-form-fields .pfm-item .bootstrap-select .dropdown-toggle::before{
	z-index: 11;
	color: #9095A6;
	font-size: 16px;
}
.psearch-form-fields .zoeken{
	max-width: 16%;
	width: 100%;
	float: left;
}
.psearch-form-fields .max-prj{
	border: 0;
}
.psearch-form-fields .submit button{
	position: relative;
	width: 100%;
	height: 57px;
	color: #fff;
	background: #1D2B5B;
	font-size: 14px;
	font-weight: 500;
	line-height: 19px;
	text-transform: uppercase;
	text-align: center;
	margin-top: 2px;
}
.psearch-form-fields .submit button i{
	position: absolute;
	right: 32px;
}

.beautiful-house-des .house-item-btn a{
	background: #1D2B5B;
	color: #fff;
}
.beautiful-house-des .house-item-btn a:after{
	background: #fff;
}