/*
--------------------------
 hu-dtls-two-part-sec-wrp
--------------------------
*/
.hu-dtls-two-part-sec-wrp{
	padding-top: 90px;
	padding-bottom: 110px;
}
.hu-dtls-sidebar-lft{
	width: 33%;
	float: left;
	padding-right: 24px;
}
.hu-dtls-rgt-con{
	width: 67%;
	float: right;
}
.hu-dtls-sidebar-tp-wrp {
    background: #1D2B5B;
    padding: 40px 20px 30px;
}
.hu-dtls-sidebar-tp-dsc span {
    display: inline-block;
    vertical-align: baseline;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #8489A8;
    font-size: 14px;
    line-height: 16px;
    padding-bottom: 20px;
}
.hu-dtls-sidebar-tp-dsc-title {
    display: block;
    font-size: 28px;
    line-height: 1.3;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 400;
}
.hu-dtls-sidebar-tp-dsc p{
	color: #fff;
	margin-bottom: 30px;
}
.hu-dtls-sidebar-btm-dsc ul li{
	padding-left: 55px;
	margin-bottom: 18px;
	position: relative;
}
.hu-dtls-sidebar-btm-dsc ul li i{
    display: inline-block;
    vertical-align: baseline;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.hu-dtls-sidebar-btm-dsc ul li span{
	display: inline-block;
	vertical-align: baseline;
	font-size: 16px;
	line-height: 18px;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	color: #FFFFFF;
}
.hu-dtls-sidebar-btm-dsc strong{
	display: inline-block;
	vertical-align: baseline;
	font-size: 36px;
	line-height: 1;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	color: #8489A8;
	font-weight: 400;
	padding-top: 20px;
	padding-bottom: 40px;
}
.hu-dtls-sidebar-btm-btn a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #FFFFFF;
	max-width: 386px;
	width: 100%;
	height: 57px;
	text-align: center;
	background: #1D2B5B;
	border: 1px solid #FFFFFF;
	padding: 20px 20px;
	position: relative;
}
.hu-dtls-sidebar-btm-btn a:after{
	content: "";
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	width: 20px;
	height: 1px;
	background:#fff;
}
.hu-dtls-sidebar-socail-wrp ul li a:hover,
.hu-dtls-sidebar-btm-btn a:hover{
	opacity: 0.5;
}
.hu-dtls-sidebar-socail-wrp{
	padding-top: 35px;
}
.hu-dtls-sidebar-socail-wrp span{
	float: left;
	display: inline-block;
	vertical-align: baseline;
	font-size: 16px;
	line-height: 18px;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	color: #767D9E;
	padding-top: 2px;
}
.hu-dtls-sidebar-socail-wrp ul{
	float: right;
}
.hu-dtls-sidebar-socail-wrp ul li{
	float: left;
	padding: 0 10px;
	font-size: 18px;
	line-height: 20px;
}
.hu-dtls-sidebar-socail-wrp ul li a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	color: #767D9E;
}
.hu-dtls-sidebar-socail-wrp ul li:last-child{
	padding-right: 0;
}
.hu-dtls-sidebar-btm-wrp{
	border: 4px solid #F9F9F9;
	margin-top: 40px;
	padding: 35px 30px;
}
.hu-dtls-sidebar-btm-wrp ul li{
	font-size: 14px;
	line-height: 13px;
	padding: 20px 0 20px 40px;
	position: relative;
}
.hu-dtls-sidebar-btm-wrp ul li.active:after{
	content: "";
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	background: #1D2B5B;
	width: 22px;
	height: 1px;
}
.hu-dtls-sidebar-btm-wrp ul li a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #1D2B5B;
	font-weight: 500;
}
.hu-dtls-sidebar-btm-wrp ul li a:hover{
	opacity: 0.5;
}

/*
----------------------
hu-dtls-rgt-con
----------------------
*/
.hu-dtls-gallery-pg-slider .hu-dtls-gallery-pg-slide-item,
.hu-dtls-gallery-slider .hu-dtls-gallery-slider-item{
	display: none;
}
.hu-dtls-gallery-pg-slider .hu-dtls-gallery-pg-slide-item:first-child,
.hu-dtls-gallery-slider .hu-dtls-gallery-slider-item:first-child{
	display: block;
}
.hu-dtls-gallery-pg-slider.slick-initialized .hu-dtls-gallery-pg-slide-item,
.hu-dtls-gallery-slider.slick-initialized .hu-dtls-gallery-slider-item:first-child{
	display: block;
}
.hu-dtls-gallery-slider-cntlr{
	position: relative;
}
.fl-prv-nxt{
	position: absolute;
	bottom: 35px;
	right: 15px;
	z-index: 2;
}
.fl-prv-nxt .fl-prev,
.fl-prv-nxt .fl-next{
	width: 57px;
	height: 57px;
	padding: 18px 16px;
	margin: 0 5px;
	cursor: pointer;
	background:#fff;
}
.fl-next:hover,
.fl-prev:hover{
	background:#1D2B5B;
}
.fl-next:hover i svg,
.fl-prev:hover i svg{
	fill: #fff;
}


.hu-dtls-gallery-slider-pagination{
	margin: 25px -9px 0;
}
.hu-dtls-gallery-pg-slide-item{
	padding: 0 9px;
}
.hu-dtls-gallery-slider-item{
	height: 520px !important;
}
.hu-dtls-gallery-pg-slide-item-img,
.hu-dtls-gallery-slider-item{
	background-repeat: no-repeat !important;
	background-size: cover !important;
	background-position: center center !important;
}
.hu-dtls-gallery-pg-slide-item-img{
	height: 170px !important;
}
.hu-dtls-map-wrp #googlemap{
	height: 500px;
	margin-top: 80px;
}
.hu-dtls-dsc{
	padding-top: 75px;
}
.hu-dtls-dsc-title{
	display: block;
	font-size: 30px;
	line-height: 1;
	color: #1D2B5B;
	font-weight: 400;
	text-transform: capitalize;
	margin-bottom: 25px;
}
.hu-dtls-dsc p{
	margin-bottom: 25px;
}
.hu-dtls-fancy-img-wrp{
	padding-top: 15px;
}
.hu-dtls-fancy-img{
	position: relative;
}
.hu-dtls-fancy-img a{
    display: block;
    overflow: hidden;
}
.hu-dtls-fancy-img a:after{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	background: linear-gradient(0deg, rgba(29, 43, 91, 0.6), rgba(29, 43, 91, 0.6)),
}
.hu-dtls-fancy-img span{
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.hu-dtls-list-wrp{
	padding-top: 100px;
	padding-bottom: 40px;
	border-bottom: 2px solid #EFEFEF;
}
.hu-dtls-list-item{
	float: left;
	width: 50%;
	padding-bottom: 35px;
	padding-right: 15px;
}
.hu-dtls-list-item:nth-child(2n+1){
	clear: left;
}
.hu-dtls-list-item-title{
	display: block;
	font-size: 24px;
	line-height: 1;
	color: #1D2B5B;
	font-weight: 400;
	margin-bottom: 25px;
	text-transform: capitalize;
}
.hu-dtls-list-item ul li{
	font-size: 13px;
	line-height: 15px;
	letter-spacing: 0.02em;
	color: #8489A8;
	font-weight: 400;
	margin-bottom: 20px;
	padding-left: 30px;
	position: relative;
}
.hu-dtls-list-item ul li:after{
	content: "";
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	background:#1D2B5B;
	width: 20px;
	height: 1px;
}
.hu-dtls-list-item ul li strong{
	display: inline-block;
	vertical-align: baseline;
}
.hu-dtls-download-btn-wrp{
	padding-top: 95px;
	padding-bottom: 100px;
}
.hu-dtls-download-btn-title{
	display: block;
	font-size: 24px;
	line-height: 26px;
	color: #1D2B5B;
	font-weight: 400;
	text-transform: capitalize;
	margin-bottom: 30px;
}
.hu-dtls-download-btn-inr{
	padding: 0 12px;
	width: 50%;
    float: left;
}
.hu-dtls-download-btn-cntrl{
	margin: 0 -12px;
}
.hu-dtls-download-btn{
    min-height: 57px;
    background: #fff;
    border-radius: 0;
    position: relative;
    padding: 5px 20px 5px 60px;
    border: 1px solid #1D2B5B !important;
    cursor: pointer;
}
.hu-dtls-download-btn:after{
	content: "";
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	background:#1D2B5B;
	width: 22px;
	height: 1px;
}
.hu-dtls-download-btn input[type="file"]{
    height: 100%;
    opacity: 0;
    width: 100%;
    background: transparent;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 0;
    z-index: 5;

}
.hu-dtls-download-btn span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    left: 60px;
    letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #1D2B5B;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
}
.hu-dtls-download-btn i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    left: 17px;
}

.hu-dtls-form-block{
	background: #1D2B5B;
	padding: 40px 50px;
}
.hu-dtls-form-head{
	position: relative;
	padding-bottom: 40px;
	margin-bottom: 40px;
}
.hu-dtls-form-head:after{
	content: "";
	position: absolute;
	left: -50px;
	bottom: 0;
	background:#fff;
	width: 190px;
	height: 1px;
}
.hu-dtls-form-head span{
	display: inline-block;
	vertical-align: baseline;
	font-size: 16px;
	line-height: 18px;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	color: #8489A8;
	font-weight: 400;
	padding-bottom: 20px;
}
.hu-dtls-form-head-title{
	font-size: 36px;
	line-height: 1;
	display: block;
	color: #fff;
	text-transform: inherit;
	margin-bottom: 0;
	font-weight: 400;
}
.hu-dtls-form-block .contact-form-wrp .wpforms-container .wpforms-form .wpforms-submit-container button{
	background: #1D2B5B !important;
	border: 1px solid #FFFFFF !important;
}
.hu-dtls-form-block .contact-form-wrp .wpforms-container .wpforms-form .wpforms-submit-container button:after{
	right: -1px;
}
.hu-dtls-form-block .contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field-html {
    margin-bottom: 5px;
}
.hu-dtls-form-block .contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field-textarea {
    margin-bottom: 18px;
}


/*
-------------------
vn-price-filter
-------------------
*/
.hu-price-filter-wrp{
	height: 30px;
	position: relative;
	margin-bottom: 20px;
}
.hu-range-filter{
	max-width: 350px;
	width: 100%;
	height: 16px;
	background: rgb(160,242,118);
	background: linear-gradient(90deg, rgba(160,242,118,1) 0%, rgba(253,218,14,1) 52%, rgba(252,26,30,1) 100%);
	position: absolute;
	left: 0;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}
.hu-price-range{
	background: #FFFFFF;
	box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.1);
	width: 30px;
	height: 30px;
	position: absolute;
	left: 50px;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	border-radius: 50px;
}
.hu-range-filter span{
	display: inline-block;
	vertical-align: baseline;
	font-size: 10px;
	line-height: 12px;
	letter-spacing: 0.02em;
	color: #8489A8;
	text-align: center;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
}

