.vacatures-grd-sec{
	padding-top: 85px;
}

.vacatures-entry-hdr{
	text-align: center;
}
.vacatures-entry-hdr-title{
	display: block;
	font-size: 35px;
	line-height: 1;
	margin-bottom: 35px;
	font-weight: 900;
	color: #1D2B5B;
	text-shadow: 0px 4px 25px rgba(0, 0, 0, 0.05);
}
.vacatures-entry-hdr p{
	margin-bottom: 50px;
}


.vacatures-grd-items{
	padding-bottom: 40px;
	border-bottom: 2px solid #EFEFEF;
}
.vacatures-grd-items ul{
	margin-left: -10px;
	margin-right: -10px;
}
.vacatures-grd-items ul li{
	float: left;
	width: 33.3333%;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 60px;
}
.vacatures-grd-items ul li:nth-child(3n+1){
	clear: left;
}
.vacatures-grd-item{
	transition: all 0.5s;
}
.vacatures-grd-item-des{
	padding: 30px 30px 40px 40px;
	border: 4px solid #F9F9F9;
}
.vacatures-grd-item-des span{
	font-size: 13px;
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: 0.02em;
	margin-bottom: 10px;
}
.vacatures-grd-item-title{
	display: block;
	font-size: 35px;
	line-height: 1;
	margin-bottom: 30px;
	font-weight: 400;
	color: #1D2B5B;
	text-transform: capitalize;
	padding-bottom: 30px;
	position: relative;
}
.vacatures-grd-item-title:after{
	content: "";
	position: absolute;
	bottom: 0;
	left: -40px;
	height: 2px;
	width: 300px;
	background: #F9F9F9;
}
.vacatures-grd-item-title:before{
	content: "";
	position: absolute;
	bottom: 0;
	left: -40px;
	display: block;
	height: 2px;
	width: 0;
	background: rgba(255,255,255,0.05);
	transition: width 0.5s;
}

.vacatures-grd-item-title a{
	color: #1D2B5B;
}
.vacatures-grd-item-des p{
	margin-bottom: 35px;
}
.vacatures-grd-item-des strong{
	display: block;
	padding-left: 95px;
	font-size: 12px;
	line-height: 1;
	color: #9095A6;
	text-transform: uppercase;
	letter-spacing: 0.04em;
	font-weight: 500;
	margin-bottom: 40px;
	position: relative;
}
.vacatures-grd-item-des strong:after{
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	height: 1px;
	width: 64px;
	background: #E3E3E3;
}
.vacatures-grd-item-des > a{
	color: #1D2B5B;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-weight: 500;
	width: 185px;
	height: 50px;
	border: 1px solid #1D2B5B;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}
.vacatures-grd-item-des > a:after{
	content: "";
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	width: 22px;
	height: 1px;
	background: #1D2B5B;
}

.vacatures-grd-item:hover .vacatures-grd-item-des{
	background: #1D2B5B;
}
.vacatures-grd-item:hover .vacatures-grd-item-title a{
	color: #fff;
}
.vacatures-grd-item:hover .vacatures-grd-item-title:after{
	content: none;
}
.vacatures-grd-item:hover .vacatures-grd-item-title:before{
	width: 100%;
	transition: all 1s;
	-ms-transition: all 1s;
	-webkit-transition: all 1s;
}
.vacatures-grd-item:hover .vacatures-grd-item-des strong{
	color: #fff;
}
.vacatures-grd-item:hover .vacatures-grd-item-des strong:after{
	background: #E3E3E3;
}
.vacatures-grd-item:hover .vacatures-grd-item-des > a{
	border-color: #fff;
	color: #fff; 
}
.vacatures-grd-item:hover .vacatures-grd-item-des > a:after{
	background: #fff;
}
.pagination-cntlr .page-numbers li:before {
    content: none;
}

@media(max-width: 1499px){

}

@media(max-width: 1399px){

}

@media(max-width: 1299px){

}

@media(max-width: 1199px){
	.hide-lg{
		display: none!important;
	}
	.show-lg{
		display: block!important;
	}
	.vacatures-entry-hdr-title{
		font-size: 32px;
		margin-bottom: 30px;
	}
	.vacatures-entry-hdr p {
	    margin-bottom: 40px;
	}
	.vacatures-grd-item-des {
	    padding: 20px 20px 30px 30px;
	}
	.vacatures-grd-item-title{
		font-size: 32px;
	}
	.vacatures-grd-item-title:after {
	    left: -30px;
	    width: 275px;
	}

}

@media(max-width: 991px){
	.hide-md{
		display: none!important;
	}
	.show-md{
		display: block!important;
	}
	.vacatures-entry-hdr-title {
	    font-size: 28px;
	    margin-bottom: 25px;
	}
	.vacatures-entry-hdr p br{
		display: none;
	}
	.vacatures-grd-items ul li{
		width: 50%;
		padding-bottom: 40px;
	}
	.vacatures-grd-items ul li:nth-child(3n+1) {
	    clear: none;
	}
	.vacatures-grd-items ul li:nth-child(2n+1) {
	    clear: left;
	}
	.vacatures-grd-item-title {
	    font-size: 28px;
	}
	.vacatures-grd-items {
	    padding-bottom: 20px;
	}
	
}

@media(max-width: 767px){
	.hide-sm{
		display: none!important;
	}
	.show-sm{
		display: block!important;
	}
	.vacatures-entry-hdr-title {
	    font-size: 25px;
	}
	.vacatures-grd-items ul{
		margin-left: 0;
		margin-right: 0;
	}
	.vacatures-grd-items ul li{
		width: 100%;
		padding-left: 0;
		padding-right: 0 
	}
	.vacatures-grd-item{
		max-width: 465px;
		width: 100%;
		margin: 0 auto;
	}
	.vacatures-grd-item-title {
	    font-size: 25px;
	}
	.vacatures-grd-item-des {
	    padding: 20px 20px 30px 20px;
	}
	.vacatures-grd-item-des strong{
		padding-left: 85px;
	}
}

@media(max-width: 575px){
	.hide-xs{
		display: none!important;
	}
	.show-xs{
		display: block!important;
	}

}

@media(max-width: 479px){
	.vacatures-grd-item-title:after{
		width: 250px;
	}
	.ftr-btm-designby a,
	.ftr-btm-menu ul li a,
	.ftr-copywrite p{
		font-size: 12px;
	}

}

@media(max-width: 359px){

}