.beautiful-house-sec{
	padding-top: 100px;
	padding-bottom: 100px;
}

.beautiful-house-sec-inr,
.tips-ugly-sec-inr{
	display: flex;
	align-items: center;
}
.beutiful-house-img,
.tips-ugly-img{
	width: 48%;
	min-height: 600px;
	height: 100%;
}
.beautiful-house-des{
	width:  52%;
	padding-right: 70px;
}
.tips-ugly-des{
	width:  52%;
	padding-left: 50px;
}

.img-des-module .beautiful-house-title{
	display: block;
	font-size: 50px;
	line-height: 1;
	color: #1D2B5B;
	margin-bottom: 50px;
	font-weight: 700;
	text-shadow: 0px 4px 25px rgba(0, 0, 0, 0.05);
	text-transform: unset!important;
}
.img-des-module .beautiful-house-title span{	
	font-size: 20px;
	font-weight: 400;
	display: block;
}
.img-des-module .beautiful-house-title strong{
	text-transform: uppercase;
	display: block;
}
.img-des-module p{
	margin-bottom: 30px;
}
.img-des-module p:last-child{
	margin-bottom: 0;
}


.tips-ugly-sec-inr{
	padding-top: 55px;
	padding-bottom: 100px;
	border-bottom: 2px solid #EFEFEF;
}
.img-des-module .tips-ugly-title{
	display: block;
	font-size: 54px;
	line-height: 1;
	margin-bottom: 35px;
	font-weight: 900;
	color: #1D2B5B;
	text-shadow: 0px 4px 25px rgba(0, 0, 0, 0.05);
}



.wzw-teams-sec{
	padding-top: 95px;
	padding-bottom: 100px;
}
.wzw-team-grd-item-left{
	float: left;
	width: 57.6388%;
}
.wzw-team-grd-item-right{
	float: right;
	width: 42.3611%;
	padding-left: 25px;
}
.wzw-team-grd-item-left .wzw-team-grd-item-img{
	min-height: 600px;
	height: 100%;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-ms-transition: all 0.5s;
}
.wzw-team-grd-item-right .wzw-team-grd-item-img{
	min-height: 285px;
	height: 100%;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-ms-transition: all 0.5s;
}
/*.wzw-team-grd-item-right .wzw-team-grd-item:first-child{
	margin-bottom: 30px;
}*/
.wzw-team-grd-item-left .wzw-team-grd-item{
	height: 100%;
}

.wzw-team-grd-item{
	position: relative;
	height: 50%;
	padding-bottom: 15px;
	padding-top: 15px;
}
.wzw-team-grd-item-ctlr{
	position: relative;
	overflow: hidden;
}
.wzw-team-grd-item-des{
	position: absolute;
	bottom: 0px;
	left: 0px;
	padding-left: 30px;
}

.wzw-team-grd-item-title{
	display: block;
	font-size: 35px;
	line-height: 1.1;
	margin-bottom: 0;
	font-weight: 700;
	letter-spacing: 0.1em;
	color: #fff;
	padding-bottom: 30px;
}
.wzw-team-grd-item-title a{
	color: #fff;
}
.wzw-team-grd-item-title br{
	display: none;
}
.wzw-team-grd-item-title a:hover{
	color: #1D2B5B!important;
}
.wzw-team-grd-item-ctlr:hover .wzw-team-grd-item-img{
	transform: scale(1.05);
	-webkit-transform: scale(1.05);
	-ms-transform: scale(1.05);
}

.get-touch-sec-wrap{
	padding-left: 20px;
	padding-right: 20px;
}
.get-touch-sec{
	background: #1D2B5B;
}


.get-touch-sec-inr{
	display: flex;
	align-items: center;
	padding-top: 65px;
	padding-bottom: 65px;
}
.get-touch-title{
	display: block;
	font-size: 45px;
	line-height: 1;
	margin-bottom: 10px;
	font-weight: 700;
	color: #fff;
	letter-spacing: 0.1em;
}
.get-touch-des p{
	font-size: 20px;
	color: #fff;
	margin-bottom: 0;
}
.get-touch-link{
	margin-left: auto;
}
.get-touch-link a{
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	width: 280px;
	height: 58px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	background: transparent;
	border: 1px solid #fff;
	position: relative;
}
.get-touch-link a:after{
	content: "";
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	height: 1px;
	width: 22px;
	background: #fff;
}
.get-touch-link a:hover{
	background: #fff;
	color: #1D2B5B;
}
.get-touch-link a:hover:after{
	background: #1D2B5B;
}

.hm-wzw-teams-sec-cntlr .wzw-team-grd-item-right .wzw-team-grd-item:after{
	content: "";
    position: absolute;
    right: 0;
    bottom: 60px;
    height: 2px;
    width: 107px;
    background: #fff;
    transform: translateY(-50%);
}
    

.hm-wzw-teams-sec-cntlr .wzw-team-grd-item-left .wzw-team-grd-item:after{
	content: "";
	position: absolute;
	right: 0;
	bottom: 60px;
	height: 4px;
	width: 175px;
	background: #fff;
}
.beautiful-house-des .house-item-btn{
	padding-top: 45px;
}
.beautiful-house-des .house-item-btn a{
	background: #1D2B5B;
	color: #fff;
}
.beautiful-house-des .house-item-btn a:after{
	background: #fff;
}



@media(max-width: 1499px){

}

@media(max-width: 1399px){

}

@media(max-width: 1299px){

}

@media(max-width: 1199px){
	.hide-lg{
		display: none!important;
	}
	.show-lg{
		display: block!important;
	}
	.beautiful-house-des {
	    padding-right: 40px;
	}
	.tips-ugly-des {
	    padding-left: 40px;
	}
	.img-des-module .beautiful-house-title,
	.img-des-module .tips-ugly-title{
		font-size: 45px;
	}
	.wzw-team-grd-item-title{
		font-size: 32px;
	}
	.get-touch-sec-wrap {
	    padding-left: 20px;
	    padding-right: 20px;
	}
	.get-touch-title{
		font-size: 40px;
	}
	.get-touch-des p{
		font-size: 17px;
	}
	.beautiful-house-sec {
	    padding-top: 85px;
	    padding-bottom: 70px;
	}
	.tips-ugly-sec-inr {
	    padding-top: 45px;
	    padding-bottom: 70px;
	}
	.wzw-teams-sec {
	    padding-top: 80px;
	    padding-bottom: 90px;
	}
	

}

@media(max-width: 991px){
	.hide-md{
		display: none!important;
	}
	.show-md{
		display: block!important;
	}
	.beautiful-house-sec {
	    padding-top: 70px;
	    padding-bottom: 50px;
	}
	.beautiful-house-sec-inr, 
	.tips-ugly-sec-inr {
	    display: inherit;
	}
	.beutiful-house-img, 
	.tips-ugly-img {
	    width: 100%;
	    margin-bottom: 40px;
	}
	.beautiful-house-des {
	    width: 100%;
	    padding-right: 0px;
	}
	.img-des-module .beautiful-house-title, 
	.img-des-module .tips-ugly-title {
	    font-size: 40px;
	    margin-bottom: 40px;
	}
	.tips-ugly-des {
	    width: 100%;
	    padding-left: 0px;
	}
	
	.get-touch-sec-inr {
	    display: inherit;
	    text-align: center;
	}
	.get-touch-des{
		padding-bottom: 30px;
	}
	.get-touch-title {
	    font-size: 35px;
	}
	.get-touch-des p {
	    font-size: 14px;
	}
	.get-touch-link a{
		margin-left: auto;
		margin-right: auto;
	}
	.tips-ugly-sec-inr {
	    padding-top: 30px;
	    padding-bottom: 50px;
	}
	.wzw-teams-sec {
	    padding-top: 65px;
	    padding-bottom: 80px;
	}
	.wzw-team-grd-item-right {
	    padding-left: 10px;
	}
	.wzw-team-grd-item-left .wzw-team-grd-item-img{
		min-height: 500px;
	}
	.wzw-team-grd-item-right .wzw-team-grd-item-img{
		min-height: 245px;
	}
	.wzw-team-grd-item{
		padding-bottom: 5px;
		padding-top: 5px;
	}
	.wzw-team-grd-item-right .wzw-team-grd-item:last-child{
		padding-bottom: 0;
	}
	.wzw-team-grd-item-des {
	    padding-left: 15px;
	}
	.wzw-team-grd-item-title {
	    font-size: 28px;
	}
	
	
	.beutiful-house-img, 
	.tips-ugly-img {
	    min-height: 500px;
	    height: 100%;
	}
	.hm-wzw-teams-sec-cntlr .wzw-team-grd-item-right .wzw-team-grd-item:after{
		bottom: 47px;
	}
	.hm-wzw-teams-sec-cntlr .wzw-team-grd-item-left .wzw-team-grd-item:after{
		bottom: 50px;
	}
	.hm-wzw-teams-sec-cntlr .wzw-team-grd-item-right .wzw-team-grd-item:after{
		width: 80px;
	}
	
}

@media(max-width: 767px){
	.hide-sm{
		display: none!important;
	}
	.show-sm{
		display: block!important;
	}
	.beautiful-house-sec {
	    padding-top: 50px;
	    padding-bottom: 40px;
	}
	.img-des-module .beautiful-house-title, 
	.img-des-module .tips-ugly-title {
	    font-size: 36px;
	    margin-bottom: 30px;
	}
	.wzw-team-grd-item-left .wzw-team-grd-item-img{
		min-height: 215px;
	}
	.wzw-team-grd-item-right .wzw-team-grd-item-img{
		min-height: 215px;
	}
	.wzw-team-grd-item-title {
	    font-size: 26px;
	}
	.get-touch-title {
	    font-size: 32px;
	}
	.tips-ugly-sec-inr {
	    padding-top: 15px;
	    padding-bottom: 40px;
	}
	.wzw-teams-sec {
	    padding-top: 50px;
	    padding-bottom: 70px;
	}
	.get-touch-sec-wrap {
	    padding-left: 0px;
	    padding-right: 0px;
	}
	.wzw-team-grd-item:after{
		bottom: 55px;
	}
	.wzw-team-grd-item-left {
	    width: 100%;
	}
	.wzw-team-grd-item-right {
	    width: 100%;
	    padding-left: 0;
	}
	.wzw-team-grd-item{
		position: relative;
	}
	.wzw-team-grd-item:after{
		content: "";
		position: absolute;
		right: 0;
		bottom: 50px;
		height: 2px;
		width: 72px;
		background: #fff;
		transform: translateY(-50%);
	}
	.wzw-team-grd-item{
		max-width: 350px;
		width: 100%;
		margin: 0 auto;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.beutiful-house-img, 
	.tips-ugly-img {
	    min-height: 450px;
	    height: 100%;
	}
	.img-des-module p {
	    margin-bottom: 20px;
	}
	.wzw-team-grd-item-title br{
		display: block;
	}
	.hm-wzw-teams-sec-cntlr .wzw-team-grd-item-left .wzw-team-grd-item:after{
		width: 80px;
		height: 2px;
	}
}

@media(max-width: 575px){
	.hide-xs{
		display: none!important;
	}
	.show-xs{
		display: block!important;
	}
	.img-des-module .beautiful-house-title, 
	.img-des-module .tips-ugly-title {
	    font-size: 32px;
	}
	.wzw-team-grd-item-title {
	    font-size: 24px;
	}
	.beutiful-house-img, 
	.tips-ugly-img {
	    min-height: 400px;
	    height: 100%;
	}


}

@media(max-width: 479px){
	.wzw-team-grd-item-des {
	    padding-left: 20px;
	}
	.beutiful-house-img, .tips-ugly-img {
	    min-height: 300px;
	    height: 100%;
	}

}

@media(max-width: 359px){
	.beutiful-house-img, .tips-ugly-img {
	    min-height: 230px;
	    height: 100%;
	}
	.hm-wzw-teams-sec-cntlr .wzw-team-grd-item-right .wzw-team-grd-item:after{
	    width: 80px;
	}
	.hm-wzw-teams-sec-cntlr .wzw-team-grd-item-left .wzw-team-grd-item:after{
		width: 100px;
	}
}